{% extends 'base/base_form_popup.html' %}


{% block head_title %}
    {% if object.pk %} Edit {{ object }} 
    {% else %} Add a new {{ obj_type }} 
    {% endif %}
{% endblock %}


{% block content %} 

    <form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
                
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        
        {% if popup %} 
                <input type="hidden" name="_popup" value="1">  
        {% endif %}

        <section class="page-heading">
            <div class="row">    
                <div class="col text-center">
                    <h1> 
                        {% if object.pk %} 
                            Editing {{ obj_type }} {{ object }} 
                        {% else %} 
                            Add a new {{ obj_type|title }} 
                        {% endif %}
                    </h1>
                </div>
            </div>
        </section>
                    
        <section class="page-content">
        
            {% if form.non_field_errors %}
            <div class="row mt-4">
                <div class="col">
                    <div class="card text-white bg-danger">
                        <div class="card-header">
                            <strong>Errors</strong>
                        </div>
                        <div class="card-body">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                </div>
            </div>    
            {% endif %}

            <div class="row mt-4">
                <div class="col text-right">
                    <button class="btn btn-save" type="submit"> <i class="icofont-save"></i> Save </button>  
                </div>    
            </div> 

            <div class="row mt-4">
                <div class="col">                    
                    <h2>{{ obj_type|title }} Details</h2>                       
                    <div class="form-row">
                        <div class="col-3">
                            <label for="{{ form.name.id_for_label }}" class="col-form-label required"> 
                                Name 
                            </label>
                        </div>
                        <div class="col">
                            {% if form.name.errors %}                
                                {% for error in form.name.errors %}
                                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                                {% endfor %}                
                            {% endif %}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col-3">
                            <label for="{{ form.country.id_for_label }}" class="col-form-label required"> Country </label> 
                        </div>
                        <div class="col">
                            {% if form.country.errors %}                
                                {% for error in form.country.errors %}
                                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                                {% endfor %}                
                            {% endif %}
                            {{ form.country }}
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col-3">
                            <label for="{{ form.prov_st.id_for_label }}" class="col-form-label"> Province/State </label>
                        </div>
                        <div class="col">
                            {% if form.prov_st.errors %}                
                                {% for error in form.prov_st.errors %}
                                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                                {% endfor %}                
                            {% endif %}
                            {{ form.prov_st }}
                        </div>                                
                    </div>                        
                </div>
            </div>
        
            <div class="row mt-4 mb-4">
                <div class="col">                    
                    <h2> {{ obj_type|title }} Notes </h2>               
                    <div class="form-row">
                        <div class="col">
                            {% if form.notes.errors %}                
                                {% for error in form.notes.errors %}
                                    <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                                {% endfor %}                
                            {% endif %}
                            {{ form.notes }}
                        </div>                                
                    </div>                        
                </div>
            </div>  

        </section>
        
    </form>

{% endblock %}






