{% extends 'base/base_form.html' %}
{% load custom_filters %}
{% load buttons %}


{% block content %}

<form action="" method="post" enctype="multipart/form-data">  

    {% csrf_token %}

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <section class="page-header">
        <div class="row">
            <div class="col-8">                
                <div class="breadcrumbs">
                    <ol>
                        <li><a href="/">Home</a></li>
                        {% if object %}
                            <li><a href="{% list_view_url object %}"> {{ object|verbose_name_plural }} </a></li>
                            <li><a href="#"> {{ object }} </a></li>
                        {% endif %}
                    </ol>
                </div>                
            </div>
            <div class="col-4">                
                <div class="page-buttons text-right">
                    <button class="btn btn-save" type="submit"> <i class="icofont-save"></i> Save </button> 
                    <a class="btn btn-cancel" href="{% if object.get_absolute_url %}  
                                                        {{ object.get_absolute_url }} 
                                                    {% else %}                                                     
                                                        {{ cancel_button_url }}                                                    
                                                    {% endif %}"> 
                    <i class="icofont-close"></i>
                    Cancel 
                    </a>
                </div>                
            </div>
        </div>    
    </section>

    <section class="page-heading">
        <div class="row mt-4">    
            <div class="col text-center page-header">
                <h1>
                    {% if object.pk %} 
                        Editing {{ obj_type }} {{ object }} 
                    {% else %} 
                        Add a new {{ obj_type|title }} 
                    {% endif %}
                </h1> 
            </div>
        </div>
    </section>       

    <section class="page-content">

        {% if form.non_field_errors %}
        <div class="row mt-4 mb-4">
            <div class="col col-md-8 offset-md-2">
                <div class="card text-white bg-danger">
                    <div class="card-header"><strong>Errors</strong></div>
                    <div class="card-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        </div>    
        {% endif %}
    
        <div class="row mt-4">
            <div class="col col-sm-12 col-md-4">
                <h2>{{ obj_type|title }} Details</h2>
                <div class="form-row">
                    <div class="col-3">
                        <label for="{{ form.name.id_for_label }}" class="col-form-label required"> 
                            Name 
                        </label>
                    </div>
                    <div class="col">
                        {% if form.name.errors %}                
                            {% for error in form.name.errors %}
                                <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                            {% endfor %}                
                        {% endif %}
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-3">
                        <label for="{{ form.airline.id_for_label }}" class="col-form-label required"> 
                            Airline 
                        </label> 
                    </div>
                    <div class="col">
                        {% if form.airline.errors %}                
                            {% for error in form.airline.errors %}
                                <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                            {% endfor %}                
                        {% endif %}
                        {{ form.airline }}
                    </div>
                </div>
            </div>
            <div class="col col-md-8">
                <h2> {{ obj_type|title }} Notes </h2>
                {% if form.notes.errors %}                
                    {% for error in form.notes.errors %}
                        <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                    {% endfor %}                
                {% endif %}
                {{ form.notes }}
            </div>
        </div>
            
    </section>    

</form>

{% endblock %}



