{% extends 'base/base.html' %}
{% load buttons %}
{% load custom_filters %}
   

{% block head_title %}
    Delete {{ object }}?
{% endblock %}


{% block content %} 

<form action="" method="post" class="form"> 

    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

    <section class="page-header">
        <div class="row">
            <div class="col col-md-8">                 
                <div class="breadcrumbs">
                    <ol>
                        <li><a href="{% list_view_url object %}"> {{ object|verbose_name_plural }} </a></li>
                    </ol>
                </div>
            </div>
            <div class="col col-md-4">                 
                <div class="page-buttons text-right">
                    <a href="{{ object.get_absolute_url }}" class="btn btn-cancel"> 
                        <i class="icofont-close"></i> Cancel </a>
                    <button class="btn btn-delete"> Confirm </button>
                </div>                
            </div>
        </div>        
    </section>

    <div class="page-heading">
        <div class="row">    
            <div class="col">
                <h1> {{ object }}  </h1>
            </div>
        </div>
    </div>

    <section class="page-content">

        {% if error %}

            <div class="row mt-4">
                <div class="col col-md-6 offset-md-3">
                    <div class="card mb-4">
                        <div class="card-header delete-question">
                            Error deleting {{object}} 
                        </div>
                        <div class="card-body">
                            <p> {{error|safe}} </p>
                        </div>
                    </div>
                </div>
            </div>
            
        {% else %}

            <div class="row mt-4">                                    
                <div class="col col-md-6 offset-md-3">
                    <div class="card mb-4">
                        <div class="card-header delete-question">
                            Do you want to delete {{object}} ? 
                        </div>
                        <div class="card-body">
                            <p> Are you sure ?</p>

                            {% if deps %}
                                <p><strong> There are dependencies of this {{obj_type|title}}</strong>:</p>
                                
                                    {% for dep in deps %}
                                        {% for k, v in dep.items %}
                                            {% if v %}
                                                <strong> {{ k }}: </strong>  
                                                 
                                                 {% for item in v %}
                                                 
                                                 <a href="{{ item.get_absolute_url }}">{{ item }}</a>{% if not forloop.last %},{% endif %}  
                                                 
                                                 {% endfor %}
                                                 
                                                 <br />
                                            {% endif %}
                                        {% endfor %}                                    
                                    {% endfor %}
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        
        {% endif %}
    
    </section>

</form>

{% endblock %}
 
 
 



